<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="./style.css"> -->
</head>
<body>
    <h1>Selam</h1>
    <form action="" method="POST">
        {% csrf_token %}
        {% for language in languages %}
        <button type="submit" name="language" value="{{ language.language_name }}">{{ language.language_name }}</button>
        {% endfor %}
    </form>
    <div class="item">
        <h3>{{ item.item_name }}</h3>
        <p>{{ item.item_description }}</p>
    </div>
</body>
</html>